.btn {
  transition: .5s;
  background: none;
  outline: none;
  display: block;
  border: none;
  padding: 0;
  margin: 2em auto;

  font-family: inherit;

  &--primary {
    width: 7em;
    height: 3.5em;
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    color: #fff;
    background-size: 200%;
    font-size: 15px;



    &:hover {
      background-position: right;
    }



  }

  &--solid {
    width: 100%;
  }

  &--secondary {
    color: #adadad;
  }

}

